In [7]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv("data.csv")
df.head()

   index    area  bathrooms     price    sq_price
0      0  2104.0        3.0  399900.0  190.066540
1      1  1600.0        3.0  329900.0  206.187500
2      2  2400.0        3.0  369000.0  153.750000
3      3  1416.0        2.0  232000.0  163.841808
4      4  3000.0        4.0  539900.0  179.966667

In [19]:
df = df.drop(["index", "price", "sq_price"], axis = 1)

ValueError: labels ['index' 'price' 'sq_price'] not contained in axis

In [24]:
df_10 = df[0:10]
df_10

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [26]:
#step 2 - add labels
#1 is good buy, 0 is bad buy
df.loc[:,("y1") = [1,1,1,0,0,1,1,1,1,1]]
#y2 is the negation/opposite of y1
df.loc[:,("y2") = df["y1"] == 0]
df.loc[:, ("y2")] = df["y2"].astype(int)

SyntaxError: invalid syntax (<ipython-input-26-cdfc76121f0c>, line 3)