In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4), ["A","B","C","D","E"], ["W","X","Y","Z"])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
type(df["W"])

pandas.core.series.Series

In [7]:
df[["W","X","Y"]]

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

In [8]:
df["new"] = np.random.randn(5)

In [9]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.302665
B  0.651118 -0.319318 -0.848077  0.605965  1.693723
C -2.018168  0.740122  0.528813 -0.589001 -1.706086
D  0.188695 -0.758872 -0.933237  0.955057 -1.159119
E  0.190794  1.978757  2.605967  0.683509 -0.134841

In [10]:
df.drop("new",axis = 1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
df.drop("E").drop("new", axis = 1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [12]:
df.shape

(5, 5)

In [13]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.302665
B  0.651118 -0.319318 -0.848077  0.605965  1.693723
C -2.018168  0.740122  0.528813 -0.589001 -1.706086
D  0.188695 -0.758872 -0.933237  0.955057 -1.159119
E  0.190794  1.978757  2.605967  0.683509 -0.134841

In [14]:
df.loc["A"]

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    0.302665
Name: A, dtype: float64

In [17]:
df.loc["B", "Y"]

-0.84807698340363147

In [18]:
df.loc[["A", "B"],["W","new"]]

          W       new
A  2.706850  0.302665
B  0.651118  1.693723